.wprevpro_t1_DIV_1,.wprevpro_t1_DIV_2,.wprevpro_t1_DIV_2:after{color:#fff;column-rule-color:#fff;outline:#fff 0;box-sizing:border-box}.wprevpro_t1_outer_div{padding:0;margin:0 -10px}.wprevpro_t1_DIV_1{perspective-origin:277.5px 115px;transform-origin:277.5px 115px;border:0 #fff;margin-bottom:20px;margin-top:10px}.wprevpro_t1_DIV_2{bottom:0;box-shadow:rgba(0,0,0,.0980392) 2px 2px 2px 0;height:auto;left:0;position:relative;right:0;top:0;perspective-origin:277.5px 69px;transform-origin:277.5px 69px;background:#fff;border:1px solid #f5f5f5;margin:0 0 25px;padding:20px 20px 20px 48px}.wprevpro_t1_DIV_2:after{bottom:-30px;content:'';display:block;height:30px;left:80px;position:absolute;right:445px;width:30px;perspective-origin:15px 15px;transform-origin:15px 15px;filter:drop-shadow(2px 2px 1px rgba(0, 0, 0, .0980392));border-top:30px solid #fff;border-right:30px solid transparent;border-bottom:0 solid transparent;border-left:0 solid transparent}.wprevpro_t1_DIV_2:before{bottom:47px;box-sizing:border-box;color:#bbb;content:'\201C';display:block;height:96px;left:55px;position:absolute;right:515.39px;top:20px;width:24.61px;column-rule-color:#bbb;perspective-origin:12.3px 48px;transform-origin:12.3px 48px;border:0 #bbb;font:normal normal normal normal 60px/96px Georgia,serif;margin:-25px 0 0 -40px;outline:#bbb 0}.wprevpro_t1_P_3{box-sizing:border-box;color:#777;column-rule-color:#777;perspective-origin:240px 44px;transform-origin:240px 44px;border:0 #777;font-style:italic;margin:0 0 10px;outline:#777 0}.wprevpro_t1_IMG_4{box-sizing:border-box;color:#fff;display:block;float:left;height:60px;vertical-align:middle;width:60px;column-rule-color:#fff;perspective-origin:30px 30px;transform-origin:30px 30px;border:0 #fff;border-radius:50%!important;margin:0 20px;outline:#fff 0}.wprevpro_t1_SPAN_5{color:#555;display:block;text-transform:uppercase;overflow:hidden;padding:8px 0 0}.marginb10{margin-bottom:10px}.w3_wprs-row-padding-small{padding:0 4px}.noboxshadow{box-shadow:transparent 0 0 0 0}.wprevpro_t1_P_3>img{box-shadow:0 0 0 transparent}.wprevpro_t1_A_8>img{box-shadow:0 0;padding:0}img.wprevpro_t1_star_img_file{width:100px;margin-right: 5px;}img.wprevpro_t1_site_logo{position:absolute;right:4px;bottom:4px;height:32px}a.wprs_rd_more{cursor:pointer}.wprevpro_t1_SPAN_6{font-size:small}span.wprevpro_t1_DIV_title {display: block;    font-weight: 600;}a.wprs_rd_less{cursor:pointer}
span.wprevpro_star_imgs>span {
    margin-right: 2px;
	font-size: 110%;
}
span.wprevpro_star_imgs {
    margin-right: 3px;
}


@font-face {
  font-family: 'wprevpro';
  src:  url('fonts/wprevpro.eot?l3vt8r');
  src:  url('fonts/wprevpro.eot?l3vt8r#iefix') format('embedded-opentype'),
    url('fonts/wprevpro.ttf?l3vt8r') format('truetype'),
    url('fonts/wprevpro.woff?l3vt8r') format('woff'),
    url('fonts/wprevpro.svg?l3vt8r#wprevpro') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="wprsp-"], [class*=" wprsp-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'wprevpro' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wprsp-plus:before {
  content: "\f067";
}
.wprsp-minus:before {
  content: "\f068";
}
.wprsp-glass:before {
  content: "\f000";
}
.wprsp-music:before {
  content: "\f001";
}
.wprsp-heart:before {
  content: "\f004";
}
.wprsp-star:before {
  content: "\f005";
}
.wprsp-star-o:before {
  content: "\f006";
}
.wprsp-flag:before {
  content: "\f024";
}
.wprsp-camera:before {
  content: "\f030";
}
.wprsp-gift:before {
  content: "\f06b";
}
.wprsp-leaf:before {
  content: "\f06c";
}
.wprsp-fire:before {
  content: "\f06d";
}
.wprsp-thumbs-o-up:before {
  content: "\f087";
}
.wprsp-thumbs-o-down:before {
  content: "\f088";
}
.wprsp-heart-o:before {
  content: "\f08a";
}
.wprsp-trophy:before {
  content: "\f091";
}
.wprsp-lightbulb-o:before {
  content: "\f0eb";
}
.wprsp-circle:before {
  content: "\f111";
}
.wprsp-smile-o:before {
  content: "\f118";
}
.wprsp-frown-o:before {
  content: "\f119";
}
.wprsp-meh-o:before {
  content: "\f11a";
}
.wprsp-thumbs-up:before {
  content: "\f164";
}
.wprsp-thumbs-down:before {
  content: "\f165";
}
.wprsp-gittip:before {
  content: "\f184";
}
.wprsp-gratipay:before {
  content: "\f184";
}
.wprsp-sun-o:before {
  content: "\f185";
}
.wprsp-moon-o:before {
  content: "\f186";
}
.wprsp-paw:before {
  content: "\f1b0";
}
