.wpproslider_t3_DIV_1a,.wpproslider_t3_DIV_1a_widget{background-position:29px 266px;bottom:0;box-shadow:rgba(0,0,0,.0980392) 0 0 5px 0;color:#454545;float:left;left:0;position:relative;right:0;text-align:left;top:0;column-rule-color:#454545;perspective-origin:140px 427.5px;transform-origin:140px 427.5px;outline:#454545 0;overflow:hidden}.wprevpro_t3_outer_div_widget{padding-left:0;padding-right:0}.wprevpro_t3_outer_div{padding:0;margin:0}.wpproslider_t3_DIV_1{margin-top:10px;margin-bottom:10px}.wpproslider_t3_DIV_1a{border:1px solid #e5e5e5;border-radius:10px;font-style:italic;margin-left:10px;margin-right:10px;width: -webkit-fill-available;width:-moz-available;}.wpproslider_t3_DIV_1a_widget{border:1px solid #e5e5e5;border-radius:10px;margin-left:4px;margin-right:4px}img.wpproslider_t3_quote{position:absolute;left:20px;}img.wpproslider_t3_avatar{width:142px;border-radius:50%!important;margin-bottom:16px;height:142px}.wpproslider_t3_DIV_2{color:#b2b2b2;text-align:center;text-shadow:#fff 1px 1px 0;column-rule-color:#b2b2b2;perspective-origin:140px 116.5px;transform-origin:140px 116.5px;background:#f8fafa;border-bottom:1px solid #e5e5e5;outline:#b2b2b2 0;padding:30px 0 20px}.wpproslider_t3_P_3{background-position:0 0;color:#454545;text-align:left;column-rule-color:#454545;perspective-origin:90px 47px;transform-origin:90px 47px;background:rgba(0,0,0,0);border:0 #454545;margin:0;outline:#454545 0;padding:25px 21px 30px 55px!important}.wpproslider_t3_STRONG_5{background-position:0 0;color:#1c1c1c;text-align:left;column-rule-color:#1c1c1c;background:rgba(0,0,0,0);border:0 #1c1c1c;font-style:italic;font-weight:700;outline:#1c1c1c 0}img.wprevpro_t3_star_img_file{width:100px;margin-right: 5px;}img.wprevpro_t3_star_img_file_loc2{width:100px;}img.wprevpro_t3_site_logo{position:absolute;right:6px;bottom:6px;height:32px}a.wprs_rd_more{cursor:pointer}.wprevpro_t3_SPAN_6{position:absolute;align-content:center;width:100%;font-size:small;top:216px}span.wprevpro_t3_DIV_title {display: block;font-weight: 600;}a.wprs_rd_less{cursor:pointer}span.wprev_showdate_T3::before {content: " - ";}
span.wprevpro_star_imgs>span {
    margin-right: 2px;
	font-size: 110%;
}
span.wprevpro_star_imgsloc1 {
    margin-right: 3px;
}
span.wprevpro_star_imgsloc2 {
    margin-right: 0px;
}
span.wprevpro_star_imgsloc2>span {
    margin-right: 0px;
	font-size: 110%;
}
@font-face {
  font-family: 'wprevpro';
  src:  url('fonts/wprevpro.eot?l3vt8r');
  src:  url('fonts/wprevpro.eot?l3vt8r#iefix') format('embedded-opentype'),
    url('fonts/wprevpro.ttf?l3vt8r') format('truetype'),
    url('fonts/wprevpro.woff?l3vt8r') format('woff'),
    url('fonts/wprevpro.svg?l3vt8r#wprevpro') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="wprsp-"], [class*=" wprsp-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'wprevpro' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wprsp-plus:before {
  content: "\f067";
}
.wprsp-minus:before {
  content: "\f068";
}
.wprsp-glass:before {
  content: "\f000";
}
.wprsp-music:before {
  content: "\f001";
}
.wprsp-heart:before {
  content: "\f004";
}
.wprsp-star:before {
  content: "\f005";
}
.wprsp-star-o:before {
  content: "\f006";
}
.wprsp-flag:before {
  content: "\f024";
}
.wprsp-camera:before {
  content: "\f030";
}
.wprsp-gift:before {
  content: "\f06b";
}
.wprsp-leaf:before {
  content: "\f06c";
}
.wprsp-fire:before {
  content: "\f06d";
}
.wprsp-thumbs-o-up:before {
  content: "\f087";
}
.wprsp-thumbs-o-down:before {
  content: "\f088";
}
.wprsp-heart-o:before {
  content: "\f08a";
}
.wprsp-trophy:before {
  content: "\f091";
}
.wprsp-lightbulb-o:before {
  content: "\f0eb";
}
.wprsp-circle:before {
  content: "\f111";
}
.wprsp-smile-o:before {
  content: "\f118";
}
.wprsp-frown-o:before {
  content: "\f119";
}
.wprsp-meh-o:before {
  content: "\f11a";
}
.wprsp-thumbs-up:before {
  content: "\f164";
}
.wprsp-thumbs-down:before {
  content: "\f165";
}
.wprsp-gittip:before {
  content: "\f184";
}
.wprsp-gratipay:before {
  content: "\f184";
}
.wprsp-sun-o:before {
  content: "\f185";
}
.wprsp-moon-o:before {
  content: "\f186";
}
.wprsp-paw:before {
  content: "\f1b0";
}
