.wprevpro_t4_outer_div_widget{padding-left:0;padding-right:0}.wprevpro_t4_outer_div{padding:0;margin:0}.wpproslider_t4_DIV_1a,.wpproslider_t4_DIV_1a_widget{text-align:center;perspective-origin:180px 166px;transform-origin:180px 166px;background:rgba(0,0,0,.02);padding:30px;box-sizing:border-box;color:#333;column-rule-color:#333;border:0 #333;outline:#333 0}.wpproslider_t4_DIV_1{margin-bottom:15px}.wpproslider_t4_DIV_1a{margin-left:10px;margin-right:10px}.wpproslider_t4_DIV_1a_widget{margin-left:1px;margin-right:1px}.wpproslider_t4_IMG_2{box-sizing:border-box;color:#333;height:135px;max-width:100%;width:135px;column-rule-color:#333;perspective-origin:67.5px 67.5px;border:0 #333;border-radius:50%;outline:#333 0}.wpproslider_t4_H3_3,.wpproslider_t4_P_5{box-sizing:border-box;text-align:center;column-rule-color:#fff;border:0 #fff;outline:#fff 0}.wpproslider_t4_H3_3{color:grey;perspective-origin:150px 13.5px;transform-origin:150px 13.5px;margin:10px 0 8px}.wpproslider_t4_SPAN_4{box-sizing:border-box;display:block;perspective-origin:150px 10px;transform-origin:150px 10px;margin:0 0 10px}.wpproslider_t4_P_5{bottom:0;color:#797979;left:0;position:relative;right:0;top:0;perspective-origin:150px 20px;transform-origin:150px 20px;margin:0 0 10px}img.wprevpro_t4_star_img_file{width:100px;}img.wprevpro_t4_site_logo{margin-top:5px;margin-bottom:-5px;height:32px;display: inline;}a.wprs_rd_more{cursor:pointer}.wprevpro_t4_SPAN_6{font-size:small;margin-bottom:-5px}span.wprevpro_t4_DIV_title {display: block;font-weight: 600;}a.wprs_rd_less{cursor:pointer}
span.wprevpro_star_imgs>span {
    margin-right: 2px;
	font-size: 110%;
}

@font-face {
  font-family: 'wprevpro';
  src:  url('fonts/wprevpro.eot?l3vt8r');
  src:  url('fonts/wprevpro.eot?l3vt8r#iefix') format('embedded-opentype'),
    url('fonts/wprevpro.ttf?l3vt8r') format('truetype'),
    url('fonts/wprevpro.woff?l3vt8r') format('woff'),
    url('fonts/wprevpro.svg?l3vt8r#wprevpro') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="wprsp-"], [class*=" wprsp-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'wprevpro' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wprsp-plus:before {
  content: "\f067";
}
.wprsp-minus:before {
  content: "\f068";
}
.wprsp-glass:before {
  content: "\f000";
}
.wprsp-music:before {
  content: "\f001";
}
.wprsp-heart:before {
  content: "\f004";
}
.wprsp-star:before {
  content: "\f005";
}
.wprsp-star-o:before {
  content: "\f006";
}
.wprsp-flag:before {
  content: "\f024";
}
.wprsp-camera:before {
  content: "\f030";
}
.wprsp-gift:before {
  content: "\f06b";
}
.wprsp-leaf:before {
  content: "\f06c";
}
.wprsp-fire:before {
  content: "\f06d";
}
.wprsp-thumbs-o-up:before {
  content: "\f087";
}
.wprsp-thumbs-o-down:before {
  content: "\f088";
}
.wprsp-heart-o:before {
  content: "\f08a";
}
.wprsp-trophy:before {
  content: "\f091";
}
.wprsp-lightbulb-o:before {
  content: "\f0eb";
}
.wprsp-circle:before {
  content: "\f111";
}
.wprsp-smile-o:before {
  content: "\f118";
}
.wprsp-frown-o:before {
  content: "\f119";
}
.wprsp-meh-o:before {
  content: "\f11a";
}
.wprsp-thumbs-up:before {
  content: "\f164";
}
.wprsp-thumbs-down:before {
  content: "\f165";
}
.wprsp-gittip:before {
  content: "\f184";
}
.wprsp-gratipay:before {
  content: "\f184";
}
.wprsp-sun-o:before {
  content: "\f185";
}
.wprsp-moon-o:before {
  content: "\f186";
}
.wprsp-paw:before {
  content: "\f1b0";
}
