<div id="wppro_badge2_DIV_1">
	<div id="wppro_badge2_DIV_2">
		<img src="https://partnerslocal.com/wp-content/plugins/bne-testimonials-pro/assets/images/branding-facebook-badge.png" alt="Partners Local" width="50px" id="wppro_badge2_IMG_3" /><span id="wppro_badge2_SPAN_4">Arrow Smile Dental</span>
		<div id="wppro_badge2_DIV_5">
			<div id="wppro_badge2_DIV_6">
				<span id="wppro_badge2_SPAN_7"></span><span id="wppro_badge2_SPAN_8"></span><span id="wppro_badge2_SPAN_9"></span><span id="wppro_badge2_SPAN_10"></span><span id="wppro_badge2_SPAN_11"></span>
			</div>
			<div id="wppro_badge2_DIV_12">
				<span id="wppro_badge2_SPAN_13">4.5</span> Stars - Based on <a href="https://www.facebook.com/arrowsmiledental/" title="User Reviews" id="wppro_badge2_A_14"><span id="wppro_badge2_SPAN_15">17</span> User Reviews</a>
			</div>
		</div>
	</div>
</div>