<div id="wppro_badge3_DIV_1">
	<div id="wppro_badge3_DIV_2">
		<meta content="Arrow Smile Dental" id="wppro_badge3_META_3" />
		<div id="wppro_badge3_DIV_4">
			<div id="wppro_badge3_DIV_5">
				<span id="wppro_badge3_SPAN_6"></span><span id="wppro_badge3_SPAN_7"></span><span id="wppro_badge3_SPAN_8"></span><span id="wppro_badge3_SPAN_9"></span><span id="wppro_badge3_SPAN_10"></span>
			</div>
			<!-- .testimonial-rating (end) -->

			<div id="wppro_badge3_DIV_11">
				<span id="wppro_badge3_SPAN_12">4.7</span> Stars - Based on <span id="wppro_badge3_SPAN_13">55</span> User Reviews
			</div>
			<!-- .badge-text (end) -->

		</div>
		<!-- .aggregateRating (end) -->

	</div>
	<!-- .rating-schema (end) -->

</div>