<div id="wppro_badge1_DIV_1">
	<div id="wppro_badge1_DIV_2">
		<div id="wppro_badge1_DIV_3">
			<div id="wppro_badge1_DIV_4">
				<div id="wppro_badge1_DIV_5">
					4.9
				</div>
			</div>
			<div id="wppro_badge1_DIV_6">
				<div id="wppro_badge1_DIV_7">
					4.9 of 5 stars
				</div>
				<div id="wppro_badge1_DIV_8">
					118 reviews
				</div>
			</div>
		</div>
		<div id="wppro_badge1_DIV_9">
			<div id="wppro_badge1_DIV_10">
				<div id="wppro_badge1_DIV_11">
					<div id="wppro_badge1_DIV_12">
						<div id="wppro_badge1_DIV_13">
							<a href="#" id="wppro_badge1_A_14">5 stars</a>
						</div>
						<div id="wppro_badge1_DIV_15">
							<a href="#" id="wppro_badge1_A_16">4 stars</a>
						</div>
						<div id="wppro_badge1_DIV_17">
							<a href="#" id="wppro_badge1_A_18">3 stars</a>
						</div>
						<div id="wppro_badge1_DIV_19">
							<a href="#" id="wppro_badge1_A_20">2 stars</a>
						</div>
						<div id="wppro_badge1_DIV_21">
							<a href="#" id="wppro_badge1_A_22">1 star</a>
						</div>
					</div>
					<div id="wppro_badge1_DIV_23">
						<div id="wppro_badge1_DIV_24">
							<div id="wppro_badge1_DIV_25">
								<div id="wppro_badge1_DIV_26">
									<a href="#" id="wppro_badge1_A_27"></a>
									<div id="wppro_badge1_DIV_28">
									</div>
								</div>
								<div id="wppro_badge1_DIV_29">
									<a href="#" id="wppro_badge1_A_30">107</a>
								</div>
							</div>
							<div id="wppro_badge1_DIV_31">
								<div id="wppro_badge1_DIV_32">
									<a href="#" id="wppro_badge1_A_33"></a>
									<div id="wppro_badge1_DIV_34">
									</div>
								</div>
								<div id="wppro_badge1_DIV_35">
									<a href="#" id="wppro_badge1_A_36">9</a>
								</div>
							</div>
							<div id="wppro_badge1_DIV_37">
							</div>
							<div id="wppro_badge1_DIV_38">
							</div>
							<div id="wppro_badge1_DIV_39">
								<div id="wppro_badge1_DIV_40">
									<a href="#" id="wppro_badge1_A_41"></a>
									<div id="wppro_badge1_DIV_42">
									</div>
								</div>
								<div id="wppro_badge1_DIV_43">
									<a href="#" id="wppro_badge1_A_44">2</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>