/*!
 * jQCloud 2.0.3
 * Copyright 2011 Luca Ongaro (http://www.lucaongaro.eu)
 * Copyright 2013 Daniel White (http://www.developerdan.com)
 * Copyright 2014-2017 Damien "Mistic" Sorel (http://www.strangeplanet.fr)
 * Licensed under MIT (http://opensource.org/licenses/MIT)
 */
.jqcloud {
  font: 10px "Helvetica", "Arial", sans-serif;
  line-height: normal;
  overflow: hidden;
  position: relative;
}

.jqcloud-word {
  margin: 0;
  padding: 0;
}
.jqcloud-word.w1 {
  color: #aab5f0;
  font-size: 100%;
}
.jqcloud-word.w2 {
  color: #99ccee;
  font-size: 200%;
}
.jqcloud-word.w3 {
  color: #a0ddff;
  font-size: 250%;
}
.jqcloud-word.w4 {
  color: #90c5f0;
  font-size: 300%;
}
.jqcloud-word.w5 {
  color: #90a0dd;
  font-size: 350%;
}
.jqcloud-word.w6 {
  color: #90c5f0;
  font-size: 400%;
}
.jqcloud-word.w7 {
  color: #3399dd;
  font-size: 450%;
}
.jqcloud-word.w8 {
  color: #00ccff;
  font-size: 500%;
}
.jqcloud-word.w9 {
  color: #00ccff;
  font-size: 550%;
}
.jqcloud-word.w10 {
  color: #00ccff;
  font-size: 600%;
}
.jqcloud-word a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}
.jqcloud-word a:hover {
  color: #00ccff;
}

.jqcloud-word.v1 {
  color: #302cf9   ;
  font-size: 100%;
}
.jqcloud-word.v2 {
  color: #7423dc  ;
  font-size: 200%;
}
.jqcloud-word.v3 {
  color: #961abf  ;
  font-size: 250%;
}
.jqcloud-word.v4 {
  color: #ad11a3  ;
  font-size: 300%;
}
.jqcloud-word.v5 {
  color: #be0787  ;
  font-size: 350%;
}
.jqcloud-word.v6 {
  color: #ca006f  ;
  font-size: 400%;
}
.jqcloud-word.v7 {
  color: #d40058  ;
  font-size: 450%;
}
.jqcloud-word.v8 {
  color: #dc0042  ;
  font-size: 500%;
}
.jqcloud-word.v9 {
  color: #e30029  ;
  font-size: 550%;
}
.jqcloud-word.v10 {
  color: #ea0000  ;
  font-size: 600%;
}